:root {
    --bgSite: #f6f6f6;
    --bgCard: #ebe9ea;
    
    --white: #fff;
  
    --title: #181818;
    --text: #474747;

    --montserrat: 'Montserrat', sans-serif;
}

.container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;

    
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}